$blue: #5A70EA;
$grey: #686d76;
$white: #ffffff;
$gold: #edc988;
$green: #4cc092;
$yellow: #FFFF08;
$orange: #ee8f22;
$red: #f02525;
$highlight: #5A70EA;
$white2:#eff0f1;
$black:black;
$true-green:#08FF08;
